<nav class="navbar navbar-toggleable-md navbar-inverse bg-anjo fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand mb-0" routerLink="/home">Anjo</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cotiza/search">Cotizaciones</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>
