<h5><i class="fa fa-file" aria-hidden="true"></i> Cotizaciones</h5>
<div class="row">
  <div class="col-sm-12">
    <a routerLink="../../search" class="btn btn-sm btn-outline-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar</a>
  </div>
</div>

<div class="row" style="padding-top: 20px;">
  <div class="col-sm-8">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th>Cliente</th>
          <th>Fecha</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>LUCAS RESOURCES S.A.C.</td>
          <td>11/03/2017</td>
          <td><a routerLink="new/search" class="btn btn-link btn-sm btn-outline-primary"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-4">
    asdf
  </div>
</div>
